.col-6.authentication-landing-column.d-flex.flex-column.align-items-center.justify-content-center
    .display-2.p-2.text-center Book
    .display-2.p-2.text-center Swap
    .display-2.p-2.text-center App
