%h1.mb-5 Users

.border.rounded-lg.shadow-sm
  %table.table.all-users
    %thead.thead-light
      %tr
        %th.p-3 Name
        %th.p-3 Locations
        %th.p-3

    %tbody
      - @users.each do |user|
        %tr
          %td.p-3= link_to user.decorate.display_full_name, user_path(user)
          %td.p-3= user.locations
          %td.p-3= link_to 'Library', user_books_path(user)
