%h1 Users

%table.table.all-users
  %thead
    %tr
      %th Name
      %th Email
      %th Locations
      %th Books

  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user.decorate.display_full_name, user_path(user)
        %td= user.email
        %td= user.locations
        %td= link_to 'Library', user_books_path(user)
