= simple_form_for :search, url: root_path, method: "GET", html: { class: 'form-inline'} do |f|

  .form-group
    = f.input_field :author_title, placeholder: 'Author or title', value: params.dig(:search, :author_title), label: false

  .form-group
    = f.submit 'Search', class: 'btn btn-primary m-3'
