#sidebar-wrapper {
  min-height: 100vh;
  margin-left: 0;
}

#sidebar-wrapper .sidebar-heading {
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#sidebar-wrapper .sidebar-footer {
  font-size: 0.8rem;
  left: 0;
  bottom: 0;
}
